<form method="post" action="/cars/<%= @car.id %>">
  <label for="car_name-field"> Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @car.name %>"
  />

  <label for="year-made-field">Year made:</label>
  <input
  type="number"
  name="Year made"
  id="year_made_field"
  value="<%= @car.year_made %>"
  />

  <label for="buying_cost_field">Buying cost:</label>
  <input
  type="number"
  name="Buying cost"
  id="buying_cost_field"
  value="<%= @car.buying_cost %>"
  />

  <label for="selling-price-field">Selling price:</label>
  <input
  type="number"
  name="Selling_price"
  id="selling_price_field"
  value="<%= @car.selling_price %>"
  />

  <label for="stock-field">Stock:</label>
  <input
  type="number"
  name="stock"
  id="stock-field"
  value="<%= @car.stock() %>"
  />

  <label>
    Select a Manufacturer:
    <select name="manufacturer_id">
      <% for manufacturer in @manufacturers %>
      <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
      <% end %>
    </select>
  </label>


  <input type='submit' value="Edit Cars">
</form>
