<h1>Car <%= @car.name %></h1>

<p>Name: <%= @car.name %></p>
<p>Year made: <%= @car.year_made %></p>
<p>Buying cost: <%= @car.buying_cost %></p>
<p>Sale Price: <%= @car.selling_price %></p>
<p>Stock: <%= @car.stock %></p>

<p><a href="/cars/<%= @car.id %>/edit">Edit Stock</a></p>

<form method="post" action="/cars/<%= @car.id %>/delete">
  <input type="submit" value="Delete Stock item"/>
</form>
